---
const {title} = Astro.props;

---


<nav class="flex flex-wrap text-gray-500 space-x-2">
    <a href="/" class=" hover:underline">Home</a>
    <span>/</span>
    <a href="/dashboard" class="hover:underline text-[#02343F] font-medium">{title}</a>
</nav>  