---
const {title} = Astro.props;

---


<nav class="flex flex-wrap text-gray-500 space-x-2">
    <a href="#" class="text-indigo-500 hover:underline">Home</a>
    <span>/</span>
    <a href="#" class="hover:underline">{title}</a>
</nav>  