<div class="grid grid-cols-4 gap-4 text-center w-96 md:w-full pr-4">
    <div class="flex items-center pb-2 rounded text-[18px] align-middle text-[#1E293B]font-semibold">Sadaqah</div>
    <div class="flex items-center justify-center  rounded text-[12px] align-middle text-[#64748B]">02 Aug 2024</div>
    <div class="flex items-center justify-center  rounded text-[12px] align-middle text-[#64748B]">Goat Sadaqah</div>
    <div class="flex justify-end items-center pb-2 rounded text-[18px]   text-[#1E293B] font-semibold">£200</div>
</div>
<hr class="mt-1 mb-8 border-[#D2D2D2]" />
