<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sadaqah Online Dashboard</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="flex flex-col sm:flex-row min-h-screen bg-gray-100">
        <!-- Sidebar for Larger Screens -->
        <div id="sidebar" class="hidden sm:block sm:w-64 bg-black text-white shadow-lg">
            <div class="flex justify-center pt-8 pb-3 px-2">
                <img src="/assets/images/logo.png" alt="Logo" class=" h-full">
            </div>
            <nav>
                <ul>
                    <li id="dashboard-p" class="relative p-4 hover:bg-gray-200 cursor-pointer flex items-center">
                        <div id="dashboard" class="absolute left-0 h-full w-1 bg-blue-500"></div>
                        <div onclick="active('dashboard')" class="flex items-center">
                            <span class="mr-4">
                                <img src="/assets/svg/dashboard.svg" alt="">
                            </span>
                            <span>Dashboard</span>
                        </div>
                    </li>
                    <li id="invoice-p" class="relative px-2 py-4 hover:bg-gray-200 cursor-pointer flex items-center">
                        <div id="invoice" class="absolute left-0 h-full w-1 bg-blue-500 hidden"></div>
                        <div onclick="active('invoice')" class="flex items-center">
                            <span class="mr-4">
                                <img src="/assets/svg/invoice.svg" alt="">
                            </span>
                            <span>Invoice</span>
                        </div>
                    </li>
                    <li id="reports-p" class="relative px-2 py-4 hover:bg-gray-200 cursor-pointer flex items-center">
                        <div id="reports" class="absolute left-0 h-full w-1 bg-blue-500 hidden"></div>
                        <div onclick="active('reports')" class="flex items-center">
                            <span class="mr-4">
                                <img src="/assets/svg/reports.svg" alt="">
                            </span>
                            <span>Reports</span>
                        </div>
                    </li>
                    <li id="offline-data-p" class="relative px-2 py-4 hover:bg-gray-200 cursor-pointer flex items-center">
                        <div id="offline-data" class="absolute left-0 h-full w-1 bg-blue-500 hidden"></div>
                        <div onclick="active('offline-data')" class="flex items-center">
                            <span class="mr-4">
                                <img src="/assets/svg/offline-data.svg" alt="">
                            </span>
                            <span>Offline Data</span>
                        </div>
                    </li>
                    <li id="page-customization-p" class="relative px-2 py-4 hover:bg-gray-200 cursor-pointer flex items-center">
                        <div id="page-customization" class="absolute left-0 h-full w-1 bg-blue-500 hidden"></div>
                        <div onclick="active('page-customization')" class="flex items-center">
                            <span class="mr-4">
                                <img src="/assets/svg/page-customization.svg" alt="">
                            </span>
                            <span>Page Customization</span>
                        </div>
                    </li>
                    <li id="support-p" class="relative px-2 py-4 hover:bg-gray-200 cursor-pointer flex items-center">
                        <div id="support" class="absolute left-0 h-full w-1 bg-blue-500 hidden"></div>
                        <div onclick="active('support')" class="flex items-center">
                            <span class="mr-4">
                                <img src="/assets/svg/support.svg" alt="">
                            </span>
                            <span>Support</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    
        <!-- Toggle Button for Mobile -->
        <button id="sidebar-toggle" class="sm:hidden fixed top-4 right-4 z-50 bg-indigo-500 text-white p-2 rounded-full shadow-lg hover:bg-indigo-600 focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
  
        <!-- Main Content -->
        <div class="flex-1 p-6">
            <!-- Header -->
            <div class="flex flex-col space-y-4">
                <div class="flex flex-col md:flex-row md:items-center md:justify-between">
                    <h1 class="text-2xl font-bold">Dashboard Overview</h1>
                    <div class="flex space-x-3 mt-4 md:mt-0">
                        <div class="flex items-center border-2 border-gray-400 bg-white pr-1 rounded-xl">
                            <span class="p-2">
                                <img src="/assets/svg/search.svg" alt="" class="w-8 p-1" />
                            </span>
                            <input type="text" placeholder="Search..." class="w-full p-3 rounded-r border-0 focus:outline-none bg-inherit"/>
                        </div>
                        <button class="p-2 bg-white rounded-full shadow-md hover:bg-indigo-50 focus:outline-none">
                            <img src="/assets/svg/setting.svg" alt="" class="w-8 p-1"/>
                        </button>
                        <button class="p-2 bg-white rounded-full shadow-md hover:bg-indigo-50 focus:outline-none">
                            <img src="/assets/svg/notification.svg" alt="" class="w-8 p-1"/>
                        </button>
                    </div>
                </div>
    
                <!-- Breadcrumb -->
                <nav class="flex flex-wrap text-gray-500 space-x-2">
                    <a href="#" class="text-indigo-500 hover:underline">Home</a>
                    <span>/</span>
                    <a href="#" class="hover:underline">Dashboard</a>
                </nav>
            </div>
            <slot/>
        </div>
    </div>


<script is:inline>
      document.getElementById('sidebar-toggle').addEventListener('click', () => {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('hidden');
        });
function active(id){
 let newid =   document.getElementById(id)
 if(newid.classList.contains('hidden')){
    newid.classList.remove('hidden');
 }else {

 }
    let pid = id + '-p';
    // alert(pid);

    document.getElementById(pid).classList.add('px-2 py-4');
    document.getElementById(pid).classList.remove('p-4');

    
   
};

</script>

</body>
</html>